body {
    background-color: #000;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main{
    text-align: center;
    top: 50%;
    left: 50%;
    height: 1px;
    width: 1px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: -24vw -44vh 2px 2px #fff,38vw -4vh 0px 0px #fff,-20vw -48vh 1px 2px #fff,-39vw 38vh 3px 1px #fff,-42vw -11vh 0px 3px #fff,12vw 15vh 3px 3px #fff,42vw 6vh 3px 2px #fff,-8vw 9vh 0px 2px #fff,34vw -38vh 1px 0px #fff,-17vw 45vh 3px 1px #fff,22vw -36vh 3px 2px #fff,-42vw 1vh 1px 0px #fff;
}

.star-wars-title {
    font-family: 'SF Distant Galaxy';
    font-size: 4em;
    color: #FFD700; /* Star Wars gold color */
}

.odds{
    font-family: 'SF Distant Galaxy';
    font-size: 2em;
    color: #FFF; /* Star Wars gold color */
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #FFF;
}

input {
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #FFD700; /* Star Wars gold color */
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
}
